@model DepartmentDetailsDto
@{
    ViewData["Title"] = "Details";
}


<div class="w-75 m-auto mt-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="General-tab" data-bs-toggle="tab" data-bs-target="#General-tab-pane" type="button" role="tab" aria-controls="General-tab-pane" aria-selected="true">General</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Adminstration-tab" data-bs-toggle="tab" data-bs-target="#Adminstration-tab-pane" type="button" role="tab" aria-controls="Adminstration-tab-pane" aria-selected="false">Adminstration</button>
        </li>
    </ul>
    <div class="tab-content p-5" id="myTabContent">
        <div class="tab-pane row fade show active" id="General-tab-pane" role="tabpanel" aria-labelledby="General-tab" tabindex="0">
            <div class="form-group col-5 d-inline-block">
                <label class="form-label" asp-for="Code"></label>
                <input class="form-control" asp-for="Code" readonly />
            </div>
            <div class="col-1 d-inline-block"></div>

            <div class="form-group col-5 d-inline-block">
                <label class="form-label" asp-for="Name"></label>
                <input class="form-control" asp-for="Name" readonly />
            </div>

            <div class="form-group">
                <label class="form-label" asp-for="Description"></label>
                <input class="form-control" asp-for="Description" readonly />
            </div>

            <div class="form-group">
                <label class="form-label" asp-for="CreationDate"></label>
                <input class="form-control" asp-for="CreationDate" readonly />
            </div>
        </div>
        <div class="tab-pane fade" id="Adminstration-tab-pane" role="tabpanel" aria-labelledby="Adminstration-tab" tabindex="0">
            <div class="form-group ">
                <label class="form-label" asp-for="Id"></label>
                <input class="form-control" asp-for="Id" readonly />
            </div>
            <div class="form-group col-5 d-inline-block">
                <label class="form-label" asp-for="CreatedBy"></label>
                <input class="form-control" asp-for="CreatedBy" readonly />
            </div>
            <div class="col-1 d-inline-block"></div>

            <div class="form-group col-5 d-inline-block">
                <label class="form-label" asp-for="CreatedOn"></label>
                <input class="form-control" asp-for="CreatedOn" readonly />
            </div>

            <div class="form-group col-5 d-inline-block">
                <label class="form-label" asp-for="LastModifiedBy"></label>
                <input class="form-control" asp-for="LastModifiedBy" readonly />
            </div>

            <div class="col-1 d-inline-block"></div>
            <div class="form-group col-5 d-inline-block">
                <label class="form-label" asp-for="LastModifiedOn"></label>
                <input class="form-control" asp-for="LastModifiedOn" readonly />
            </div>
        </div>

    </div>

    <div class="btns d-flex gap-4 justify-content-end mt-4 px-5">
        <a class="btn btn-success" asp-action="Edit">
            <i class="fa-regular fa-pen-to-square me-2"></i>  Edit
        </a>
        <a class="btn btn-danger" asp-action="Index">
            <i class="fa-solid fa-right-to-bracket me-2"></i> Go Back
        </a>

    </div>
</div>